@model IReadOnlyCollection<Attar.Application.DTOs.Navigation.NavigationMenuItemDto>
@using System.Linq

@if (Model is not null && Model.Any())
{
    @foreach (var item in Model.Where(i => i.ParentId == null).OrderBy(i => i.DisplayOrder).ThenBy(i => i.Title))
    {
        <li>
            <a class="site-menu__link" href="@item.Url" @(item.OpenInNewTab ? "target=\"_blank\" rel=\"noopener noreferrer\"" : "") data-site-menu-dismiss>
                @if (!string.IsNullOrWhiteSpace(item.ImageUrl))
                {
                    <span class="site-menu__link-icon site-menu__link-icon--image">
                        <img src="@item.ImageUrl" alt="@item.Title" />
                    </span>
                }
                else if (!string.IsNullOrWhiteSpace(item.Icon))
                {
                    <span class="site-menu__link-icon">@Html.Raw(item.Icon)</span>
                }
                <span>@item.Title</span>
            </a>
        </li>
    }
}
<li>
    <a class="site-menu__link" asp-controller="Cart" asp-action="Index" data-site-menu-dismiss>
        <span class="site-menu__link-icon"><i class="bi bi-cart3"></i></span>
        <span>سبد خرید</span>
    </a>
</li>
